{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Usuario:</label>
        <input type="text" name="username" required>

        <label for="password">Contraseña:</label>
        <input type="password" name="password" required>

        <button type="submit">Ingresar</button>
        {% if form.errors %}
            <p class="error">Usuario o contraseña incorrectos.</p>
        {% endif %}
    </form>
</div>
{% endblock %}
